

*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  align-items: center;
  display: flex;
  justify-content: center;
}


html *{
  -webkit-font-smoothing: antialiased;
}

.valor{
color: #ff5700;
font-weight: bold; 

}

.lista { 
color: #ff5700;
margin-left: 140px;

}


.h6, h6 {
  font-size: .75rem !important;
  font-weight: 500;
  font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 1.5em;
  text-transform: uppercase;
}

.name h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

a .material-icons {
  vertical-align: middle;
}



.fixed-top {
  position: fixed;
  z-index: 1030;
  left: 0;
  right: 0;
}

.profile-page .page-header {
  height: 200px;
  background-position:center;
}

.page-header {
  height: 100px;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
}

.header-filter:after, .header-filter:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.header-filter::before {
  background: rgba(0,0,0,.5);
}

.main-raised {
  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
  background: #FFF;
  position: relative;
  z-index: 3;
}

.profile-page .profile {
  text-align: center;
}

.profile-page .profile img {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translate3d(0,-50%,0);
  -moz-transform: translate3d(0,-50%,0);
  -o-transform: translate3d(0,-50%,0);
  -ms-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

.img-raised {
  box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
  border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  color: #3C4858;
  font-weight: 700;
}

.titleservices {
font-family: CenturyGothic, 'Century Gothic';
font-size: 45px;
margin-top: 20px;
margin-bottom: 60px;
text-align: center;
min-height: 32px;
color: black;
font-weight: 1000;
}

.titleforms {
font-size: 45px;
margin-bottom: 60px;
min-height: 32px;
color: #1c1c1c;
font-weight: 1000;
}


/*############################################################# Foto cliente ######################################################*/


.profile-page .description {
  margin: 1.071rem auto 0;
  max-width: 600px;
  color: #999 !important;
  font-weight: 300;
}

p {
  font-size: 14px;
  margin: 0 0 10px;
}

.profile-page .profile-tabs {
  margin-top: 50px;
}

.nav-pills, .nav-tabs {
  border: 0;
  border-radius: 3px;
  padding: 0 15px;
}

.nav .nav-item {
  position: relative;
  margin: 0 2px;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
  border-radius: 4px;
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #ff5700;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #ff55006e;
}

.nav-pills .nav-item .nav-link {
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  color: #555 !important;
  transition: all .3s;
  border-radius: 30px;
  padding: 10px 15px;
  text-align: center;
}

.nav :hover{
  background-color: #d8d8d8c7 !important;
  color: #FFF;
}


.nav-pills .nav-item i {
  display: block;
  font-size: 30px;
  padding: 12px 0;
}

.tab-space {
  padding: 20px 0 50px;
}

.profile-page .gallery {
  margin-top: 3.213rem;
  padding-bottom: 50px;
}

.profile-page .gallery img {
  width: 100%;
  margin-bottom: 2.142rem;
}

.profile-page .profile .name{
  margin-top: -80px;
}

img.rounded {
  border-radius: 6px!important;
}

.tab-content>.active {
  display: block;
}

/*############################################################### Botao #################################################################*/

.btn-primary.custom-file-control:before, .btn.btn-primary{
  color:#ff5700 ;
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 3px #88888867;
  border-color: rgba(173, 173, 173, 0.294);


}


.btn-primary:hover, .custom-file-control:before, .btn.btn-primary:hover{
  color: #FFF;
  background-color: #ff5700 ;
  border-color: #ff55006c;
}

.btn-primary:active,.custom-file-control:active, .btn.btn-primary:active{
  color: #FFF;
  background-color: #c04000;
}



.btn {

  float: center;
  padding: 12px 30px;
  margin: 10px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  border: 0;
  border-radius: .2rem;
  outline: 0;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow,transform;
}



.btn.btn-just-icon {
  font-size: 20px;
  height: 41px;
  min-width: 41px;
  width: 41px;
  padding: 0;
  overflow: hidden;
  position: relative;
  line-height: 41px;
}

.btn.btn-just-icon fa{
  margin-top: 0;
  position: absolute;
  width: 100%;
  transform: none;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 41px;
  font-size: 20px;
}
.btn.btn-link{
  background-color: transparent;
  color: #ff5700;
}

/*Footer*/

footer{
  margin-top: 10px;
  color: #555;
  padding: 25px;
  font-weight: 300;
  
}
.footer p{
  margin-bottom: 0;
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300;
}
footer p a{
  color: #555;
  font-weight: 400;
}

/*############################################################## Icones tela inicial #####################################################*/

.nav-item{
  color: grey ;  
}

.nav-item :hover{
  color: #ff5700;
}

.nav-item :active{
  color: #ff5700;
}

.fab{
  position: fixed;
  bottom:10px;
  right:10px;
}


/*######################################################## formulário ######################################################################################################*/

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control{
  background-image:linear-gradient(0deg,#ff5700 2px,#f0f0f081 0),linear-gradient(0deg,#1c1c1c 1px,transparent 0,)
}



.form-row{
  margin: 100px !important;
  display: flex !important;
  align-items: center !important;
  margin-right: -17px !important;
  margin-left: -5px;
  justify-content: center;
}


body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  height: 100%;
  background-color: #0d0d0d;

}

a {
  color: #ddb092;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border-radius: 10px 10px 10px 10px !important;
  background: #fff;
  border-color: #fff !important;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6 !important;
  border-top: 1px solid #dce8f1 !important;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #ff5700 !important;
}

input[type=text]{
  max-width: 230px;
}

input[type=number]{
  height: auto;
  max-width: 1000px;
}



input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #c54403 !important;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password], input[type=number] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px;
  width: 80%;
  border: 4px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 6px 6px 5px 5px !important;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
  background-color: #fff;
  border-bottom: 2px solid #ff5700 !important;
}

input[type=text]:placeholder, input[type=text]:placeholder, input[type=number]:placeholder {
  color: #cccccc;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #ff5700 !important;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

*:focus {
    outline: none !important;
} 

#icon {
  margin-top: 10px;
}


.alingitens{
  margin-bottom: 100px;
}

.butaum {
  margin-left: 335px;
  margin-top: 100px;
}

.nav-link{
  color: #040505 !important;
}

.dropdown-menu:hover{
  color: #c35e00 !important;
}

.dropdown-menu{
  color: #c35e00 !important;
}

.formu{
  margin: 20px;
}

